@font-face {
  font-family: Modeseven;
  src: url("Modeseven-L3n5.ttf");
}

body {
  background-color: black;
  color: white;
  font-family: Modeseven;
}

.command-input {
  background: none;
  color: greenyellow;
  font-family: Modeseven;
  border: none;
  outline: none;
  display: inline-block;
}

.command-line {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
}

.error-line {
  color: red;
}
